.preheader{
    background: url(../images/preheader.jpg);
    width: 886px;
    height: 71px;
}
.header{
    background: url(../images/header.jpg);
    width: 886px;
    height: 78px;
}
.header h3{
    color: white;
    margin: 0;
    padding-left: 80px;
    font-family: sans-serif;
    padding-top: 5px;
}
.menu{
    background: url(../images/menu.jpg);
    width: 886px;
    height: 32px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 80px;
    line-height: 32px;
    font-family: sans-serif;
    font-size: 12px;
}