.rightt{
    margin-top: -10px; 
    margin-left: -10px;
    width: 230px;
}
.share_box{
    margin-top: 10px;
    width: 240px;
}
.share_header{
    background-color: #303030;
    margin: 0;
    padding: 8px 8px;
}
.share_header h4{
    font-size: 22px;
    color: #ffffff;
    padding-left: 5px;
    margin: 0px;
    font-family: 'Times New Roman';
}
.share_content{
   background-color: rgba(170, 64, 67, 0.4);
    margin-top: 14px;
    margin-left: 12px;
}
.share_content a{
    color: #ffffff;
    line-height: 10px;
}
.share_content img{
    margin-right: 3px;
    margin-bottom: -3px;
}
