/*.title_search a{
    text-decoration: none;
    color: #42554e;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}*/

.image_search img{
    width: 260px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/*.des_search{
    margin-bottom: 15px;
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 10px;
}*/
.paging
{
    margin-top: 40px;
    text-align: center;
}

.paging a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}
.active{
    color: red !important;
    pointer-events: none;
}